{% extends 'base.html' %}
{% block content %}
{% for question in object_list %}
<div class="panel">
  <h3><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></h3>
  <p>Asked {% if question.visibility == 0 %} by <a href="{% url 'user_detail' slug=question.user.username %}">{{ question.user.username }}</a> {% endif %} on {{ question.created_at }}</p>
  <p>{{ question.vote_set.all.count }} Vote{{ question.vote_set.all.count|pluralize }}</p>
  <form method="post" action="{% url 'vote' %}">
      {% csrf_token %}
      <input type="hidden" name="question" value="{{ question.id }}" />
      <input type="hidden" name="user" value="{{ question.id }}" />
      <button>+</button>
  </form>
</div>
{% empty %}
<p>No results found.</p>
{% endfor %}
{% if is_paginated %}
<nav>
    <ul class="pager">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}