{% extends 'base.html' %}
{% block content %}
<h1>{{ question.title }}</h1>
<p>{{ question.description }}</p>
<p>Asked by {{ question.user.username }} on {{ question.created_at }}</p>
{% if question.user == user %}
<p><a href="{% url 'question_update' pk=question.id %}">Edit question</a></p>
<p><a href="{% url 'question_delete' pk=question.id %}">Delete question</a></p>
{% endif %}
{% if answers.count > 0 %}
<h3>{{ answers.count }} Answer{{ answers.count|pluralize }}:</h3>
{% endif %}
{% for answer in answers %}
<div class="panel">
  <p>{{ answer.text }}</p>
  {% if answer.user == user %}
  <p><a href="{% url 'answer_update' question_pk=question.id answer_pk=answer.id %}">Edit answer</a></p>
  <p><a href="{% url 'answer_delete' question_pk=question.id answer_pk=answer.id %}">Delete answer</a></p>
  {% endif %}
  <p>Answered by {{ answer.user.username }} on {{ answer.created_at }}</p>
</div>
{% endfor %}
<p><a href="{% url 'answer_create' pk=question.id %}">Write answer</a></p>
{% endblock %}